<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {{> sidenav }}
                </div>
                <div class="col-md-9">
                    {{> body }}
                    {{> footer }}
                </div>
            </div>
        </div>

        {{> javascripts }}
    </body>
</html>